.page-content img {
    width: 200px;
    height: 200px;
    float: right;
    margin: 20px;
}

.page-content {
    width: 100%;
}

.page-content span {
    width: 80%;
    height: auto;
    word-wrap: break-word;
    text-align: left;
}

.page-content h2 {
    color: #EA62AB;
}

