.card-img {
    height: 250px;
    width: 250px;
    margin: auto;
    object-fit: contain;
}

.news-card {
    border: none;
    box-shadow: 1px 1px 10px 1px lightgrey;
    text-align: center;
}

.activity-cards h2, .activity-title {
    font-size: 2em;
}

.activity-card p {
    padding: 30px;
    text-align: center;
}

.activity-card h3, .activity-card i {
    color: #EA62AB;
    text-align: center;
}

.activity-card h3 {
    margin-top: 15px;
}

.news-link:hover {
    color: #E01F8C;
}

.activity-card:hover {
    animation: onHover 0.5s forwards;
    margin-bottom: 20px;
}

.activity-cards-container {
    height: 380px;
    position: relative;
}

@keyframes onHover {
    to {
        transform: translate(0, -20px);
    }
}

@media (max-width: 992px) {
    .activity-cards-container {
        height: 990px;
    }
    .home {
        text-align: center;
    }
}