.main-menu ul li>#custom-sub-menu-open {
    position: absolute;
    top: 100px;
    z-index: 99;
    width: 290px;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s;
    border-top: solid 1px #EA62AB;
}

.main-menu ul li:hover>#custom-sub-menu-open {
    top: 80px;
    visibility: visible;
    opacity: 1;
}

.main-menu ul li>#custom-sub-menu-open li {
    line-height: normal;
    display: block;
    margin: 0;
    border-top: 1px solid #ededed;
}

.main-menu ul li>#custom-sub-menu-open li a {
    padding: 12px 15px;
}


@media (max-width: 992px) {
    .main-menu ul li>#custom-sub-menu-open {
        position: absolute;
        top: -30px;
    }

    .main-menu ul li:hover>#custom-sub-menu-open {
        position: relative;
        top: 0px;
        width: 240px;
        visibility: visible;
        opacity: 1;
    }
    
    #custom-sub-menu-hide {
        display: none;
    }
}