
ul { 

    list-style: none; 

}

.organization {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.organization img {
    object-fit: contain;
    width: 200px;
    height: 200px;
}