.news-image {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    height: 300px;
    object-fit: contain;
}

.news-content img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    float: right;
    margin: 20px;
}

.news-content {
    width: 100%;
}

.news-content span, .news-content p{
    width: 80%;
    height: auto;
    word-wrap: break-word;
    text-align: left;
}

.news-content h2 {
    color: #EA62AB;
}
