body {
    font-family: 'Karla', sans-serif;
    font-size: medium;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-float infinite 3s ease-in-out;
    }
}

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.App-link {
    color: rgb(112, 76, 182);
}

.main-menu ul {
    top: 124px;
}

div.container>div.site-brand {
    width: 80px;
}

@keyframes App-logo-float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px)
    }
    100% {
        transform: translateY(0px)
    }
}

@media (max-width: 992px) {
    .main-menu ul {
        top: 125px;
    }
}

@media (max-width: 766px) {
    .main-menu ul {
        top: 80px;
    }
}